[submodule "tpls/tweedledum"]
	path = tweedledum
	url = https://github.com/gt-tinker/tweedledum.git
	branch = qwerty
[submodule "tpls/qir-runner"]
	path = qir-runner
	url = https://github.com/gt-tinker/qir-runner.git
	branch = qwerty
